<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">

        <div class="login-title text-center py-2">
            <h1 class="mb-0">
              <strong>404</strong>
            </h1>
            <small>Désolé cette page n'existe pas!</small>
        </div>
        <div class="text-center py-2">
            <button (click)="goPrevious()" class="btn btn-back text-white">
              <i class="fa fa-reply"></i> Retour
            </button>
        </div>
    </div>
  </div>
</div>
