<div class="container-fluid">
  <div class="form-container show" [formGroup]='changePswdForm'>
    <div class="form-header">
      <span>Changement de mot de passe</span>
    </div>
    <div class="form-body">
      <h4 class="msgFirstConenxion" *ngIf="isFirstConnexion">
        Vous êtes à la première connexion, veuillez changer de mot de passe.
      </h4>
      <div class="input-field">
        <span>Nom & Prénoms</span>
        <mat-form-field appearance="outline">
          <input matInput formControlName="nom_prenoms">
        </mat-form-field>
      </div>

      <div class="input-field">
        <span>Ancien mot de passe</span>
        <mat-form-field appearance="outline">
          <input matInput [type]="hideOld ? 'password' : 'text'" placeholder="Ancien mot de passe"
            formControlName="ancien_pwd" required>
          <button matSuffix mat-icon-button aria-label="Clear" (click)="hideOld = !hideOld">
            <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <app-error-manager [formCtrl]="changePswdForm.get('ancien_pwd')"
          [validationMessage]="validationMessages.password">
        </app-error-manager>
      </div>

      <div class="input-field">
        <span>Nouveau mot de passe</span>
        <mat-form-field appearance="outline">
          <input matInput [type]="hideNew ? 'password' : 'text'" placeholder="Nouveau mot de passe"
            formControlName="nouveau_pwd" required>
          <button matSuffix mat-icon-button aria-label="Clear" (click)="hideNew = !hideNew">
            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <app-error-manager [formCtrl]="changePswdForm.get('nouveau_pwd')"
          [validationMessage]="validationMessages.password">
        </app-error-manager>
      </div>

      <div class="btn-container">
        <button [disabled]='!changePswdForm.valid' mat-raised-button color="primary"
          (click)="checkPwdValidity()">Valider</button>
      </div>
    </div>
  </div>
</div>
